@font-face {
    font-family: -apple-system,BlinkMacSystemFont,"Nanum Gothic Coding","나눔 고딕 코딩",helvetica,"Apple SD Gothic Neo",sans-serif;
    url: '../public/font/NanumGothicCoding.ttf' format('truetype');
}

body, button, input, select, table, textarea {
    font-size: 12px;
    line-height: 16px;
}

span {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

html {
    font-size: 10px;
    line-height: 10px;
}

.navbar {
    width: 165px;
    height: 690px;
    left: 0px;
    top: 250px;
    margin: 20px;
    text-align: center;
    font-family: Roboto;
}

#category-text {
    text-align: center;
    width: 80px;
    height: 35px;
    margin-left: 42px;

    background: #000000;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    color: #FFFFFF;

}

#category-text > span {
    text-align: center;
}

.category-list {
    margin: 10pt;
    text-align: left;
    font-size: 14pt;
    left: 35px;
    top: 57px;
}

.category {
    width: 156px;
    height: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.banner-area {
    display: inline-block;
}

.count-banner {
    background-color: #e0e0e0;
    height: 30px;
    width: 125px;
    margin-left: 20pt;
    margin-bottom: 10pt;
    border-radius: 4pt;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

#search-result-list {
    text-align: left;
}

#layout-body {
    display: flex;
    text-align: left;
}

a {
    color: inherit;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#footer .footer-inner {
    width: 1130px;
    padding: 0 30px 92px;
    margin: 0 auto;
}

#footer .corp-area {
    padding-top: 25px;
    border-top: 1px solid #FFFFFF;
}

#footer .corp-area:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

#footer .list-corp {
    overflow: hidden;
    float: left;
    margin-right: 13px;
}

#footer .list_corp .corp_item+.corp_item:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;
    vertical-align: -1px;
}

#footer .list_corp .corp_item {
    float: left;
    color: #FFFFFF
}

#footer {
    text-align: center;
    border-color: #3a3b3d;
    background-color: #2d3e50;
    color: #FFFFFF ;
    background-color: #2d3e50;
    border-top: 1px solid #e4e8eb;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.chat-room-table {
    border-collapse: collapse;
    display: flex;
}

.chat-room-table .time-area {
    border: #FFFFFF;
    text-align: right;
    font-size: 15px;
}

.chat-room-table tr{
    text-align: center;
    height: 50px;
}

.chat-room-table tr td{
    width: 140px;
    margin: 0;
}

#search-bar {
    text-align: center;
    width: 390px;
    /* width: fit-content; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
    display: flex;
}

#search-text-input-area {
    display: inline-block;
    height: 24px;
    margin: 0;
}
#search-button {
    width: 35px;
    height: 35px;
    border: 1px dashed #010101;
    display: inline-block;
    margin: 0;
}

#search-area {
    text-align: center;
    height: 74px;
    display: flex;
}

#create-room-button {
    width: 120px;
    height: 30px;
    left: 349px;
    top: 22px;

    background: #E0E0E0;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    color: #000000;
    margin-right: 10pt;
}

#create-room-button > span {
    width: 120px;
    text-align: center;
}

.header{
    align-content: center;
    flex-direction: column;
    text-align: right;
}

#main-logo {
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    text-align: center;
}

#main-logo-area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    top: 50px;
    text-align: center;
}

#main-logo > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 200px;

    color: #E0E0E0;
}

.login-info-area {
    text-align: right;
}

#home-page {
    margin-left: 127px;
}

.room-banner {
    background-color: #E0E0E0;
    border: 1px #FFFFFF solid;
    height: 50px;
    width: 140px;
    display: inline-block;
}

/* mobile */
@media (max-width: 768px) {
    #search-bar {
        position: absolute;
        height: 27px;
        width: 225px;
        left: 129px;
        top: 237px;
        border-radius: 16px;
        background-color: #E0E0E0;

        text-align: center;
        /* width: fit-content; */
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #search-text-input-area {
        width: 62vw;
        height: 27px;
        display: inline-block;
        margin: 0;

    }

    #main-logo {
        margin: auto;
        display: flex;
        text-align: center;
        position: absolute;
        width: 87vw;
        height: auto;
        left: 24px;
        top: 82px;

    }
}